<div width="100%" style="text-align: center;">
    <a href="/"><img src="/images/logo-branco.png" width="250px" height="100px" style="background-color: #5D478B"/></a>
    <br>
    <h3>We are Jobify. Join Us!</h3>
</div>